
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta name="theme-color" content="#000000" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ asset('style.css') }}">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
              integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
{% block link %}{% endblock %}

        <title>{% block Title %}base{% endblock %}</title>
        <link rel = "icon" class="rounded-circle" href ="{{ asset('logo2.ico') }}"
            style="height: 50px; width:50px"   type = "image/x-icon">

    </head>
    {% block style %}{% endblock %}
    <style>

        :root {
            --price_color: #ffa15e;
            --nav_color: #7FCDCD;
            --nav_backcolor: #05212F;
            --cardbutton_color: #b5e3d9;
            --cheikh: 'El Messiri', sans-serif;
        }

        .register {
            background-color: var(--nav_color);
        }

        #header2 {
            background-color: #05212F;
            height: 90px;
        }

    </style>

    <body>


    <header>
{% block siteTitle %}

        <div class="container-fluid"  id="header2">
<div class="row">

           <div class="col-md-7 col-sm-8"  >
            <img src="{{ asset('logo1.jpg') }}" class="img float-right " style="margin-top: 0; height:85px;width:auto" alt="logo.ico">
        </div>

</div>
        </div>

        {% endblock %}
        <!--NAVBAR-->
        {% block nav  %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-white shadow-sm"
             style="background-color:  white ;
        border-color:#333333; z-index: 30;">
          {% block navitem %}
            <a class="navbar-brand " href="/acceuil" style=" font-size:medium; color:black;">
                <i class="fas fa-home"  style=" color: black;"> </i>
                Home </a>
          {% endblock %}
            <button class="navbar-toggler bg-red" type="button" data-toggle="collapse" data-target="#navbarNav "  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse  " id="navbarNav">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item  ">
                        {% block navitem1 %}{% endblock %}

                    </li>
                    <li class="nav-item">
                        {% block navitem2 %}    {% endblock %}
                    </li>
                    <li class="nav-item">
                        {% block navitem3 %}  {% endblock %}
                    </li>


                </ul>

                <form class="form-inline my-2 my-lg-0">
                    <ul  class="navbar-nav">
                        {% block liItem1 %}
                            <li class="nav-item" style="width: 50px; ">
                                <a class="nav-link  text-secondary small" href="#" >
                          <i class="fas fa-search"></i>
                                </a>
                            </li>
                        {% endblock %}

                        {% block liItem2 %}
                            <li  class="nav-item " style="width: 50px; " >
                                <a class="nav-link text-secondary small " href="#" data-toggle="tooltip" data-placement="bottom" title="visit your Cart" >
                                <i class="fas fa-shopping-cart "> </i>
                                </a>
                           </li>
                        {% endblock %}
                        {% block liItem3 %}
                            <li class="nav-item" style="width: 50px; ">
                                <a class="nav-link  text-secondary small " href="/login" data-toggle="tooltip"
                                   data-placement="bottom" title="log in">
                                    <i class="far fa-user-alt"></i></a>
                            </li>
                        {% endblock %}

                    </ul>
                </form></div>

        </nav>
        {% endblock %}
    </header>


        {% block body %}{% endblock %}


    <footer>

        <div class="container-fluid  " style="background-color: #05212F">
            <div class="container">
            <div class="row  table-responsive">
                <table class="table table-borderless table-sm" style="background-color: #05212F">
                    <thead>
                    <tr>
                        <th class="text-center text-white">Contact Us</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><a href="https://www.facebook.com/cheikhbooks/?epa=SEARCH_BOX" style="color:black" ><i class="fab fa-facebook"style="color:white">
                                    <span class=" small" style="color:lightgrey"> @cheikhbooks</span></i></a>
                        </td>


                        <td><a href="https://www.instagrasymfony servem.com/cheikhbooks.tn/"><i class="fab fa-instagram"
                                                                                                style="color:white">
                                    <span class=" small" style="color:lightgrey"> cheikhbooks.tn   </span></i></a></td>
                        <td><i class="fas fa-phone" style="color:white"> <span class=" small" style="color:lightgrey"> +216 54053754  </span></i>
                        </td>
                        <td><i class="fas fa-at" style="color:white"><span class="small" style="color:lightgrey"> cheikhbooks@gmail.com </span></i>
                        </td>
                    </tr>
                    </tbody>
                </table>


                <h6 class="text-center text-white">You can register for free <a href="/register"
                                                                                class="btn btn-sm register"
                                                                                style=" font-size: 0.75em; border-radius: 25px ;">
                        Sign up</a>
                </h6>
                <div class="text-center">
                    <img src="{{ asset('jeune.png') }}" width="50" height="30">


                    <img src="{{ asset('digicard.png') }}" width="50" height="30">

                </div>



                <p class="text-center smaller" style="color:lightgrey">&copy; Copyright 2020 .</p>
            </div>

            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <script>
        $(window).scroll(function (e) {
            var $el = $('.navbar');
            var isPositionFixed = ($el.css('position') == 'fixed');
            if ($(this).scrollTop() > 150 && !isPositionFixed) {
                $el.css({'position': 'fixed', 'top': '0px', 'width': '100%'});
            }
            if ($(this).scrollTop() < 150 && isPositionFixed) {
                $el.css({'position': 'static', 'top': '0px', 'width': '100%'});
            }
        });
    </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
