
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta name="theme-color" content="#000000" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('style.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="{{ asset('bootstrap/js/bootstrap.js') }}"></script>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
              integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link href="{{ asset('node_modules/font-awesome/css/font-awesome.css') }}">
{% block link %}{% endblock %}

        <title>{% block Title %}base{% endblock %}</title>
        <link rel = "icon" href ="{{ asset('logo2.ico') }}"
            style="height: 50px; width:50px"   type = "image/x-icon">

    </head>
    {% block style %}{% endblock %}
    <style>
         footer{
             position:absolute;

             bottom:0;

             width:100%;

             padding-top:50px;

         }
         :root{

             --nav_color: #955251;}

         #header1{
             background-color:var(--nav_color);
             height:10px ;


         }

         #header2{
             background-color:var(--nav_color);
             height:40px ;


         }


    </style>
    <body>


    <header>
{% block siteTitle %}
        <div class="container-fluid" id="header1">
        </div>
        <div class="container-fluid"  id="header2">

            <h5 class="text-white text-center" id="cheikh" style="position:relative"> <!--<img src="{{ asset('logo3.ico') }}"
                                                                                           style="height:45px;width:45px;
                                                                                           opacity:0.9;" alt="logo.ico">-->
                <i>CheikhBooks</i></h5>

        </div>
        <div class="container-fluid" id="header1" >
        </div>
        {% endblock %}
        <!--NAVBAR-->
        {% block nav  %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-light shadow-sm" style="background-color:  white ;
        border-color:#333333; z-index: 30;">
          {% block navitem %}
            <a class="navbar-brand " href="/acceuil" style=" font-size:medium; color:black;">
                <i class="fas fa-home"  style=" color: black;"> </i>
                Home </a>
          {% endblock %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav " style=" background-color: #d9d9d9;" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse  " id="navbarNav">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item  ">
                        <a class="nav-link bg-light  " href="#" id="a1"  style=" font-size:medium;color: #a6a6a6;">{% block navitem1 %}category1{% endblock %}<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bg-light"  style="font-size:medium; color: #a6a6a6;" href="#">{% block navitem2 %}category2{% endblock %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bg-light  "  style=" font-size:medium; color: #a6a6a6;" href="#">{% block navitem3 %}category3{% endblock %}</a>
                    </li>


                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search">
                    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" id="search">Search</button>
                </form>
                <form class="form-inline my-2 my-lg-0">
                    <ul  class="navbar-nav">
                        {% block liItem1 %}{% endblock %}

                        {% block liItem2 %}
                            <li  class="nav-item ">
                            <a   class="nav-link text-white " href="#">
                                <i class="fas fa-shopping-cart" id="icon2"
                                   style="font-size:20px; color:black" aria-hidden="true"> </i></a>
                        </li>
                        {% endblock %}
                        {% block liItem3 %}
                            <li style="font-size: 1.25rem">
                                <i class="far fa-user"></i>
                            </li>{% endblock %}

                    </ul></form></div>

        </nav>
        {% endblock %}
    </header>


        {% block body %}{% endblock %}


    <footer class="container-fluid badge-light shadow-lg fixed-bottom">

        <div class="container-fluid badge-light ">
            <div class="container">
            <div class="row badge-light table-responsive">
                <table class="table table-borderless table-sm">
                    <thead>
                    <tr>
                        <th class="text-center">Contact Us</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><a href="https://www.facebook.com/cheikhbooks/?epa=SEARCH_BOX" style="color:black" ><i class="fab fa-facebook">
                                    <span style="color:grey"> @cheikhbooks</span></i></a>
                        </td>


                        <td><a href="https://www.instagram.com/cheikhbooks.tn/" style="color:black"><i class="fab fa-instagram">
                                    <span style="color:grey"> cheikhbooks.tn   </span></i></a></td>
                        <td><i class="fas fa-phone"><span style="color:grey"> +216 54053754  </span></i></td>
                        <td><i class="fas fa-at" style="color:black"><span style="color:grey ;font-size:small"> cheikhbooks@gmail.com </span></i></td>
                    </tr>
                    </tbody>
                </table>


                <h6 class="text-center">You can register for free <button class="btn btn-sm"
                                                                          style="background-color:#457485; font-size: 0.75em; border-radius: 25px ;"> Sign up</button>
                </h6>
                <div class="text-center">
                    <img src="{{ asset('jeune.png') }}" width="50" height="30">


                    <img src="{{ asset('digicard.png') }}" width="50" height="30">

                </div>



                <p class="text-center " style="font-size: smaller;">&copy; Copyright 2020 .</p>
            </div>

        </div>
        </div>
    </footer>

<script>
    $(window).scroll(function(e){
        var $el = $('.navbar');
        var isPositionFixed = ($el.css('position') == 'fixed');
        if ($(this).scrollTop() > 100 && !isPositionFixed){
            $el.css({'position': 'fixed', 'top': '0px', 'width' : '100%'});
        }
        if ($(this).scrollTop() < 100 && isPositionFixed){
            $el.css({'position': 'static', 'top': '0px', 'width' : '100%'});
        }
    });
</script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
