<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="theme-color" content="#000000" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('style.css') }}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.js') }}"></script>
    <script src="{{ asset('node_modules/font-awesome/font-awesome.js') }}"></script>
</head>
<title>cheikhBooks.tn</title>
<link rel = "icon" href ="{{ asset('logo2.ico') }}"
      style="height: 50px; width:50px"   type = "image/x-icon">
<style>
    body {
        background-image: url("{{ asset('logo3.ico') }}") , url("{{ asset('cover3.jpg') }}");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 300px ,cover;
        background-position: center  , center;
        left:30px;
        background-color: rgb(0,0,0,0.2);

    }
    .logo{
        height:300px;
        width:300px;

        box-shadow: 8px 8px 20px black;


    }
    .navbar{
        border-color:#333333;
        z-index: 30;
        margin: 0 auto;
        background-color: rgba(255,255,255,0.5);
    }
    :root{

        --nav_color:#7FCDCD;}

    #header1{
        background-color:var(--nav_color);
        height:10px ;


    }

    #header2{
        background-color:var(--nav_color);
        height:40px ;


    }

    </style>

<body>
<div class="container-fluid" id="header1">
</div>
<div class="container-fluid"  id="header2">

    <h5 class="text-white text-center" id="cheikh" style="position:relative;"> <!--<img src="{{ asset('logo3.ico') }}"
                                                                                           style="height:45px;width:45px;
                                                                                           opacity:0.9;" alt="logo.ico">-->
        <i>CheikhBooks</i></h5>

</div>
<div class="container-fluid" id="header1" >
</div>

    <nav class="navbar navbar-expand-lg navbar-dark  shadow-sm" >
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav " style=" background-color: #d9d9d9;" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse  " id="navbarNav">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item  ">
                    <a class="nav-link  " href="#" id="a1"  style=" font-size:1.25em;">Catalog<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link "  style="font-size:1.25em; " href="#">Categories</a>
                </li>



            </ul>
{#            <form class="form-inline w-50" >#}
{#                <input class="form-control bg-transparent" type="search"#}
{#                       style="border-color: black; width: 500px" placeholder="Search"><i class="fas fa-search"></i></input>#}

{#                </form>#}

            <form class="form-inline my-2 my-lg-0">
                <ul  class="navbar-nav">
                    <li class="nav-item  " style="width: 60px; ">
                        <a class="nav-link  " href="#"  style=" font-size:1.25em;"> <i class="fas fa-search"></i></a>
{#                        ki tenzel aaliha tokhrej input taa recherche #}
                    </li>

                     <li class="nav-item   " style="width: 60px; ">
                         <a class="nav-link  " href="#"   style=" font-size:1.25em;"><i class="far fa-user"></i></a>
{#                         log in#}
                     </li>

                    <li class="nav-item  " style="width: 60px; ">
                        <a class="nav-link  " href="#"  style=" font-size:1.25em;"><i class="fas fa-user-plus"></i></a>
{#                        sign up#}
                    </li>



                </ul></form></div>

    </nav>




<div class="view">

</div>
{#<form class="form-inline my-2 my-lg-0 col-md-offset-4">#}
{#    <input class="form-control mr-sm-2" type="search" placeholder="Search">#}
{#    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" id="search">Search</button>#}
{#</form>#}
</body>
{#<footer class="container-fluid badge-light shadow-lg fixed-bottom">#}

{#    <div class="container-fluid badge-light ">#}
{#        <div class="container">#}
{#            <div class="row badge-light table-responsive">#}
{#                <table class="table table-borderless table-sm">#}
{#                    <thead>#}
{#                    <tr>#}
{#                        <th class="text-center">Contact Us</th>#}

{#                    </tr>#}
{#                    </thead>#}
{#                    <tbody>#}
{#                    <tr>#}
{#                        <td><a href="https://www.facebook.com/cheikhbooks/?epa=SEARCH_BOX" style="color:black" ><i class="fab fa-facebook">#}
{#                                    <span style="color:grey"> @cheikhbooks</span></i></a>#}
{#                        </td>#}


{#                        <td><a href="https://www.instagram.com/cheikhbooks.tn/" style="color:black"><i class="fab fa-instagram">#}
{#                                    <span style="color:grey"> cheikhbooks.tn   </span></i></a></td>#}
{#                        <td><i class="fas fa-phone"><span style="color:grey"> +216 54053754  </span></i></td>#}
{#                        <td><i class="fas fa-at" style="color:black"><span style="color:grey ;font-size:small"> cheikhbooks@gmail.com </span></i></td>#}
{#                    </tr>#}
{#                    </tbody>#}
{#                </table>#}


{#                <h6 class="text-center">You can register for free <button class="btn btn-sm"#}
{#                                                                          style="background-color:#457485; font-size: 0.75em; border-radius: 25px ;"> Sign up</button>#}
{#                </h6>#}
{#                <div class="text-center">#}
{#                    <img src="{{ asset('jeune.png') }}" width="50" height="30">#}


{#                    <img src="{{ asset('digicard.png') }}" width="50" height="30">#}

{#                </div>#}



{#                <p class="text-center " style="font-size: smaller;">&copy; Copyright 2020 .</p>#}
{#            </div>#}

{#        </div>#}
{#    </div>#}
{#</footer>#}

</html>

