{% extends 'baseFront.html.twig' %}
{% block link %}<link rel="stylesheet" href={{ asset('form.css') }}>
    <link rel="stylesheet" href={{ asset('confirm.css') }}>
{% endblock %}
    {% block Title %}Confirm Your Account{% endblock %}
{% block body %}
    <div class="signup">
        <div class="register" style=" background-color: white; margin-bottom:10%;margin-top: 10%; padding: 20px" >
            <div class="modal-header">
                <div class="modal-title" id="Title"  > {% block img %}<img src="{{ asset('confirmation.png') }}"> {% endblock %}
                   <h5 > {% block modaltitle%}   One Last Step !  {% endblock %}</h5> </div>
            </div>
            <div class="modal-body">
                {% block message %}
                <div class="confirm"> <p class="greet">Hello {{ app.user.username }} .</p> <br> <p class="greet"> Welcome To Cheikh Books .</p>
                    <br> <p> A Confirmation Email Has Been Sent To This Address :<strong style="color:#0f6674;">{{ app.user.Email}} .</strong>
                     Please  Check Your Inbox To Activate Your Account .</p></div>
            {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
{% block signupbutton%}{% endblock %}
