{% extends 'baseFront.html.twig' %}
{% block Title %}
    {{ livre.nomLivre }}
{% endblock %}
{% block navitem1 %}  <a class="nav-link small text-secondary " href="/catalogue" id="a1"
>catalog </a> {% endblock %}
{% block navitem2 %} {% endblock %}
{% block navitem3 %} {% endblock %}

{% block link %}
    <link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
{% endblock %}

{% block style %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&display=swap');

        a.nav-link:hover {
            font-size: x-large;
        }

        .love {
            padding: 0.5rem 1.4rem;
            border-radius: 25px;
            color: black;
            opacity: 1;
            position: absolute;
            margin: 28%;
        }

        .book-img {
            position: relative;
            padding: 0em;
            margin: auto;
        }

        .hearticon {
            font-size: 18px;
            color: lightgrey;
        }

        .hearticon:hover {
            color: #e60000;
        }

        img.book-img:hover {
            opacity: 0.15;

        }

        .card {
            margin-bottom: 18px;
        }
    </style>
{% endblock %}

{% block body %}
    <div style="height: 70px"></div>


    <div class="container-fluid">
        <div class="row">
            <div class="col ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <br>
                            <br>
                            <img src="{{ livre.path }}" class="shadow rounded mx-auto d-block" style="max-width: 100%; height: auto;">
                        <small> <i class="far fa-calendar-alt"></i> Added on {{ livre.datePub | format_datetime() }}</small>



                    </div>

                    <div class="col-md-7">

                        <div class="row">
                            <div class="col-md-12">
                                <h2>{{ livre.nomLivre }}</h2>
                                <p class="badge badge-primary" style="font-size: 12px">type{{ livre.type }}</p>
                                {% for cat in livre.categories %}
                                    <p class="badge badge-primary" style="font-size: 12px">{{ cat }}</p>
                                {% endfor %}
                                <p class="badge badge-primary" style="font-size: 12px">{{ livre.language }}</p>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <span class="label label-info">By {{ livre.auteur }}  </span>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <p style="font-size: 14px; font-family:  'Balsamiq Sans', cursive;"> {{ livre.description }} {{ livre.description }} {{ livre.description }}
                                    {{ livre.description }}  {{ livre.description }}</p>

                            </div>
                        </div>


                        <hr>
                        <div class="row">
                            <div class="col-md-12 bottom-rule">
                                <h4 class="product-price">{{ livre.prix }} Dt</h4>
                            </div>
                        </div>

<br>
                        <div class="row">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-lg btn-block shadow-sm page-link btn-secondary font-weight-light"

                                        data-id="{{ livre.id }}">Add to Cart <i
                                            class="fas fa-shopping-cart  icon"> </i></button>

<br>
                            </div>
                            <div class="col-md-3">
                            </div>

                        </div>


                    </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
    <br><br>

    <div class="container-fluid shadow">
        <div class="row">
            <div class="container-fluid"><h4 class="text-shadow"> related books</h4></div>
        </div>
        <div class="row">
            {% for book in filtre %}
                <div style="font-size:50px" class="col-2 card-col">
                    <div class="card" style="font-size:50px" id="{{ book.id }}">

                        <i style="font-size:30% " class="fas fa-heart disabled love"><span
                                    class="js-like small">  {{ livre.Likes | length }}</span></i>
                        <a href="/livre/{{ book.id }}"> <img src="{{ book.path }}" style="font-size:50px"
                                                             class="book-img  card-img-top"
                                                             alt="..." style="width:100%"></a>

                        <div class="card-body">
                            <p class="card-title" style="font-size:40%"><b>{{ book.nomLivre }}</b>
                                <a class="js-like " href="/livre/{{ livre.id }}/like">
                                    {% if app.user and livre.isLiked(app.user) %}
                                        <i style="font-size:70%;  " class="fas fa-heart text-danger hearticon"
                                           data-toggle="tooltip" data-placement="bottom" title="Unlove this book">
                                        </i>

                                    {% else %}
                                        <i style="font-size:70%" class="fas fa-heart hearticon"
                                           data-toggle="tooltip"
                                           data-placement="bottom" title="love this book">
                                        </i>

                                    {% endif %}
                                </a>
                            </p>
                            <p class="card-text card_text " style="font-size:25%; color:grey">By {{ livre.auteur }} </p>

                        </div><!--ffb84d-->
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}



{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        function onClickBtnLike(event) {
            event.preventDefault();
            const url = this.href;
            const like = document.querySelector('span.js-like');
            const icon = this.querySelector('i.hearticon')
            console.log(like);
            axios.get(url).then(function (response) {
                like.textContent = response.data.likes;
                console.log(like);
                if (icon.classList.contains('text-danger')) icon.classList.remove('text-danger');
                else icon.classList.add('text-danger');
            });
        }

        document.querySelectorAll('.js-like').forEach(function (link) {
            link.addEventListener('click', onClickBtnLike);
        })</script>

{% endblock %}