{% extends 'baseFront.html.twig' %}
{% block Title %}
    {{ livre.nomLivre }}
{% endblock %}

{% block navitem2 %} {% endblock %}
{% block navitem3 %} {% endblock %}

{% block link %}
    <link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap" rel="stylesheet">

{% endblock %}

{% block style %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&display=swap');


        a.nav-link:hover {
            font-size: x-large;
        }
        .cardbutton {
            font-size: small;
            background-color: var(--cardbutton_color);
            width: 90%;
        }
        .cardbutton:hover{
            background-color:  #90d5c6;
        }

        .love {
            margin:27%;
            padding: 1.25rem 4.5rem;
            border-radius: 25px;
            color: black;
            opacity: 1;
            position: absolute;
            font-size:80%;
        }
        @media (min-width: 1025px) {
            .love {
                font-size: 200%;
            }
        }

        .book-img {
            position: relative;
            padding: 0em;
            margin: auto;
        }

        .hearticon {
            font-size: 18px;
            color: lightgrey;
        }

        .hearticon:hover {
            color: #e60000;
        }

        img.book-img:hover {
            opacity: 0.15;

        }

        .card {
            margin-bottom: 18px;
        }
    </style>
{% endblock %}


{% block body %}
    <div style="height: 70px"></div>


    <div class="container-fluid">
        <div class="row">
            <div class="col ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <br>
                            <br>
                            <img src="{{ livre.path }}" class="shadow rounded mx-auto d-block" style="max-width: 100%; height: auto;">
                        <small> <i class="far fa-calendar-alt"></i> Added on {{ livre.datePub | format_datetime() }}</small>



                    </div>

                    <div class="col-md-7">

                        <div class="row">
                            <div class="col-md-12">
                                <h2>{{ livre.nomLivre }}</h2>
                                <p class="badge badge-primary" style="font-size: 12px">type{{ livre.type }}</p>
                                {% for cat in livre.categories %}
                                    <p class="badge badge-primary" style="font-size: 12px">{{ cat }}</p>
                                {% endfor %}
                                <p class="badge badge-primary" style="font-size: 12px">{{ livre.language }}</p>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <span class="label label-info">By {{ livre.auteur }}  </span>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <p style="font-size: 14px; font-family:  'Balsamiq Sans', cursive;"> {{ livre.description }} {{ livre.description }} {{ livre.description }}
                                    {{ livre.description }}  {{ livre.description }}</p>

                            </div>
                        </div>


                        <hr>
                        <div class="row">
                            <div class="col-md-12 bottom-rule">
                                <h4 class="product-price">{{ livre.prix }} Dt</h4>
                            </div>
                        </div>

<br>
                        <div class="row">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-6">

                                {% if app.session.get('panier')[livre.id] is defined %}
                                    <button  class="btn btn-lg btn-block shadow-sm  cardbutton font-weight-light disabled"
                                             data-id="{{ livre.id }}" >
                                        Added to Cart
                                        <i class="fas fa-shopping-cart  icon"
                                                style="font-size:85%;"> </i></button>


                                {% else %}
                                    <a href="{{ path('add.panier', {'id' : livre.id}) }}"
                                       class="btn shadow-sm cardbutton" data-id="{{ livre.id }}" style="font-size:70%">
                                        Add to Cart
                                        <i class="fas fa-shopping-cart  icon"
                                           style="font-size:11px;"> </i></a>
                                {% endif %}

<br>
                            </div>
                            <div class="col-md-3">
                            </div>

                        </div>


                    </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
    <br><br>
<hr class="shadow">
    <div class="container-fluid">
        <div class="row">
            <div class="container-fluid"><h3 style="text-shadow:  1px 1px 3px lightgrey;"> <i>Related books</i></h3></div>
        </div>

        <br>
        {% include 'catalogue/carousel.html.twig' %}

    </div>


{% endblock %}



{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        function onClickBtnLike(event) {
            event.preventDefault();
            const url = this.href;
            const like = this.parentElement
                .previousElementSibling.previousElementSibling.firstElementChild;
            const icon = this.querySelector('i.hearticon')
            console.log(like);
            axios.get(url).then(function (response) {
                like.textContent = response.data.likes;
                console.log(like);
                if (icon.classList.contains('text-danger')) icon.classList.remove('text-danger');
                else icon.classList.add('text-danger');
            }).catch(function (error){
                if(error.response.status===403){
                    toastr.options = {
                        "debug": false,
                        "positionClass": "toast-bottom-full-width",
                        "onclick": null,
                        "fadeIn": 300,
                        "fadeOut": 1000,
                        "timeOut": 5000,
                        "extendedTimeOut": 1000
                    }
                    toastr.error('You have to be connected');
                    toastr.options.preventDuplicates = true;


                }
            });
        }

        document.querySelectorAll('.js-like').forEach(function (link) {
            link.addEventListener('click', onClickBtnLike);
        })</script>

    <script>
        function onClickBtnCart(event){
            event.preventDefault();
            console.log(this);
            const url = this.href;
            const obj= this;

            axios.get(url).then(function (response) {
                console.log(response.data.message);
                obj.classList.add('disabled');
                obj.innerHTML="Added to Cart  <i class='fas fa-shopping-cart  icon' style='font-size:70%;'> </i>";
            });


        }
        document.querySelectorAll('.cardbutton').forEach(function (link) {
            link.addEventListener('click',onClickBtnCart);
        })
    </script>


{% endblock %}