{% extends 'baseFront.html.twig' %}

{% block Title %}catalog{% endblock %}
{% block link %}
    <link rel="stylesheet" type="text/css" href="{{ asset('catalogue/style.css') }}">


{% endblock %}
{% block navitem1 %} {% endblock %}

{% block body %}

    <div style="height: 40px;"></div>
    <div class="container">
        <div class="row">

            <div class="col-6 panel-group ">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title">
                            <button class="btn btn-white hover "
                                    data-toggle="collapse" href="#collapse1">
                                <i class="fas fa-sliders-h small"></i> Filter
                            </button>
                        </h5>
                    </div>
                    <div id="collapse1" class="panel-collapse  collapse ">

                        <form class="form">
                            {{ form_start(form) }}
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="float-left small">Author :</label>
                                    {{ form_row(form.author) }}
                                </div>

                                <hr>

                                <div class="col-md-4 slider">
                                    <label class="float-left small">Price</label>
                                    <small class="float-right font-weight ml-2 mt-1 valuespan"></small>
                                    {{ form_row(form.maxPrice) }}
                                </div>
                                <div class="col-2">

                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-4">
                                    <label class="float-left small">Categories :</label><br>
                                    {{ form_row(form.categories) }}
                                </div>
                                <div class="col-4">
                                    <label class="float-left small">Language :</label><br>
                                    {{ form_row(form.languages) }}
                                </div>
                            </div>

                            <hr>
                            <div class="form">
                                <div class="col">
                                    <button type="submit" class="btn sc btn-sm">Search</button>
                                </div>
                            </div>
                            {{ form_end(form) }}

                        </form>

                    </div>
                </div>
            </div>


            <div class="col-6">
                <div class="dropdown float-right">
                    <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort By
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <p class="container">{{ knp_pagination_sortable(filtre , "price" , "p.prix") }} <i
                                    class="fas fa-sort-amount-up small "></i></p>
                        <p class="container">{{ knp_pagination_sortable(filtre , "price" , "p.prix", ['desc']) }}<i
                                    class="fas fa-sort-amount-down small "></i></p>
                        <p class="container"> {{ knp_pagination_sortable(filtre , "Newest" , "p.date_pub" , ['desc'] ) }}</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

    <!--style="color:#6d2e3e"-->
    <br>
    <div class="container-fluid ">
        <div class="row">

            {% for livre in filtre %}
                {% set idd = livre.id %}
                <div class="col card-col">
                    <div class="card " id="{{ livre.id }}" style="width: 11.5rem; ">
                        <i style="font-size:70% " class="fas fa-heart disabled love">
                            <span class="js-like small"> {{ livre.Likes | length }}</span></i>
                        <a href="/livre/{{ livre.id }}"> <img src="{{ livre.path }}" class="book-img  card-img-top"
                                                              alt="..." style="width:100%"></a>

                        <div class="card-body">
                            <p class="card-title" style="font-size:75%">{{ livre.nomLivre }}
                                <a class="js-like " href="/livre/{{ livre.id }}/like">
                                    {% if app.user and livre.isLiked(app.user) %}
                                        <i style="font-size:70%;  " class="fas fa-heart text-danger hearticon"
                                           data-toggle="tooltip" data-placement="bottom" title="Unlove this book">
                                        </i>

                                    {% else %}
                                        <i style="font-size:70%" class="fas fa-heart hearticon"
                                           data-toggle="tooltip"
                                           data-placement="bottom" title="love this book">
                                        </i>

                                    {% endif %}
                                </a>
                            </p>
                            <p class="card-text price" style="font-size:70%"><b>{{ livre.prix }} Dt</b>
                            <p class="card-text card_text" style="font-size:60%">By {{ livre.auteur }} </p>

                            {% if app.session.get('panier') %}
                            <button onclick=" window.location.href='{{ path('add.panier', {'id' : idd}) }}'" class="btn shadow-sm cardbutton" data-id="{{ livre.id }}" style="font-size:70%">
                                Add to Cart
                                <i
                                        class="fas fa-shopping-cart  icon"
                                        style="font-size:11px;"> </i></button>
                            {% else %}
                                <button  class="btn shadow-sm disabled cardbutton" data-id="{{ livre.id }}" style="font-size:70%">
                                    Added to Cart
                                    <i
                                            class="fas fa-shopping-cart  icon"
                                            style="font-size:11px;"> </i></button>
                            {% endif %}


                            {#                            <a {% if app.session.get('panier').idd is defined %}disabled{% endif %} href="{{ path('add.panier', {'id' : idd}) }}" class="btn shadow-sm cardbutton" data-id="{{ livre.id }}" style="font-size:70%">#}
{#                                Add to Cart#}
{#                                <i#}
{#                                        class="fas fa-shopping-cart  icon"#}
{#                                        style="font-size:11px;"> </i>#}
{#                            </a>#}
                        </div>
                    </div>

                </div>
            {% else %}
                <div class="container" style="height:80px">
                    <div class="row">
                        <div class="col-12">
                            <p class="text-center"> Sorry we don't have books with this features <i
                                        class="far fa-frown"></i></p>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-7">
                    <nav class="float-right " aria-label=" shadow Page">
                        {{ knp_pagination_render(filtre) }}

                    </nav>
                </div>

            </div>
        </div>

    </div>



{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            const $valueSpan = $('.valuespan');
            const $value = $('#maxPrice');
            $valueSpan.html("0-" + $value.val() + "dt");
            $value.on('input change', () => {
                $valueSpan.html("0-" + $value.val() + "dt");
            });
        });


    </script>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        function onClickBtnLike(event) {
            event.preventDefault();
            const url = this.href;
            const like = this.parentElement.parentElement
                .previousElementSibling.previousElementSibling.firstElementChild;
            const icon = this.querySelector('i.hearticon')
            console.log(like);
            axios.get(url).then(function (response) {
                like.textContent = response.data.likes;
                console.log(like);
                if (icon.classList.contains('text-danger')) icon.classList.remove('text-danger');
                else icon.classList.add('text-danger');
            });
        }

        document.querySelectorAll('.js-like').forEach(function (link) {
            link.addEventListener('click', onClickBtnLike);
        })</script>

<script>
    function onClickBtnCart(event){
        event.preventDefault();
        console.log(this);
        this.classList.add('disabled');
        this.textContent="Added to Cart";
    }
    document.querySelectorAll('.cardbutton').forEach(function (link) {
        link.addEventListener('click',onClickBtnCart);
    })
</script>

{% endblock %}
