{% extends 'baseFront.html.twig' %}
{% block Title %}Cart{% endblock %}
{% block body%}


    {% if app.session.get('total') != 0 %}
        <div class="container my-4">
            <div style="">
                <a href="{{ path('catalogue') }}" style="color: #577C85 "> <i class="fad fa-arrow-left"></i> Continue Shopping</a>
            </div>
        </div>
        <div class="container mb-4">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Book's Name</th>
                                <th scope="col" class="text-right">Price</th>
                                <th> </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for key , val in app.session.get('panier') %}
                                <tr>
                                    <td><img src="{{ val.path }}" alt="BookImg" width="50px" height="50px"></td>
                                    <td>{{ val.nomLivre }}</td>
                                    <td class="text-right">{{ val.prix }}</td>
                                    <td class="text-right"><a href="{{ path('delete.panier', {'id' : val.id}) }}" class="btn btn-sm btn-danger selector"><i class="fa fa-trash"></i> </a> </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td><strong>Total</strong></td>
                                <td class="text-right totalmon"><strong>{{ app.session.get('total') }} DT</strong></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="container">
                    <div class="row mb-5 mt-3" style="float: right">
                        <div style="margin-right: 20px"><a href="#" class="btn" style="background-color: #52ACB4;color: white;"> Drop Cart</a></div>
                        <div> <a href="{{ path('payement') }}" class="btn save " style="background-color: #52ACB4;color: white; ">Payement</a></div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div style="margin-top: 200px;margin-bottom: 220px;display: flex;flex-direction: column;align-items: center;justify-content: center;"> <p style="font-size: 30px;color: slategray"> Your Cart Is Empty Now</p>
            <p> You can continue shopping  <a href="{{ path('catalogue') }}" style="color: #52ACB4"><i class="fad fa-cart-plus" style="color:#52ACB4"></i> Here</a></p> </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        function onClickBtnDelete(event){
            event.preventDefault();
            const url = this.href;
            const row= this.parentElement.parentElement;
            const table= this.parentElement.parentElement.parentElement;
            var total= document.querySelector('.totalmon')
            axios.get(url).then(function (response) {
                table.removeChild(row)
                total.firstElementChild.innerText= response.data.total;
            });
        }
        document.querySelectorAll('.selector').forEach(function (link) {
            link.addEventListener('click',onClickBtnDelete);
        })
    </script>
{% endblock %}
