{% extends 'baseFront.html.twig' %}
{% block Title %}Cart{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ asset('Panier/jomb.css') }}">
{% endblock %}

{% block body%}
    {% if app.session.get('panier') is not empty %}
        <section class="full-jumbotron text-center mt-1 container">
            <div class="container">
                <h1>Check your cart. If it's done Start payement</h1>
            </div>
        </section>
        {% else %}
            <section class="empty-jumbotron text-center mt-1 container">
                <div class="container mt-5">
                    <h1>Empty cart</h1>
                </div>
            </section>
        {% endif %}

    {% if app.session.get('panier') is not empty %}
        <div class="container mb-4">
            <div>
                <a href="{{ path('catalogue') }}" style="color: black"> <i class="fas fa-arrow-left"></i> Continue Shopping</a>
            </div>
        </div>
        <div class="container mb-4">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Book's Name</th>
                                <th scope="col" class="text-right">Price</th>
                                <th> </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for key , val in app.session.get('panier') %}
                                <tr>
                                    <td><img src="{{ val.path }}" alt="BookImg" width="50px" height="50px"></td>
                                    <td>{{ val.nomLivre }}</td>
                                    <td class="text-right">{{ val.prix }}</td>
                                    <td class="text-right"><a href="{{ path('delete.panier', {'id' : val.id}) }}" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </a> </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td><strong>Total</strong></td>
                                <td class="text-right"><strong>{{ app.session.get('total') }} DT</strong></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6"></div>
                        <div class="col-sm-12 col-md-6 text-right">
                            <a href="{{ path('payement') }}" class="btn  btn-success text-uppercase">Payement</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container mb-4">
            <div>
                <a href="{{ path('catalogue') }}" style="color: black"> <i class="fas fa-arrow-left"></i> Continue Shopping</a>
            </div>
        </div>
    {% endif %}
{% endblock %}