{% extends 'baseFront.html.twig' %}
{% block Title %}Cart{% endblock %}

{% block style %}
    <style>
        /*
** Style Simple Ecommerce Theme for Bootstrap 4
** Created by T-PHP https://t-php.fr/43-theme-ecommerce-bootstrap-4.html
*/
        .bloc_left_price {
            color: #c01508;
            text-align: center;
            font-weight: bold;
            font-size: 150%;
        }
        .category_block li:hover {
            background-color: #007bff;
        }
        .category_block li:hover a {
            color: #ffffff;
        }
        .category_block li a {
            color: #343a40;
        }
        .add_to_cart_block .price {
            color: #c01508;
            text-align: center;
            font-weight: bold;
            font-size: 200%;
            margin-bottom: 0;
        }
        .add_to_cart_block .price_discounted {
            color: #343a40;
            text-align: center;
            text-decoration: line-through;
            font-size: 140%;
        }
        .product_rassurance {
            padding: 10px;
            margin-top: 15px;
            background: #ffffff;
            border: 1px solid #6c757d;
            color: #6c757d;
        }
        .product_rassurance .list-inline {
            margin-bottom: 0;
            text-transform: uppercase;
            text-align: center;
        }
        .product_rassurance .list-inline li:hover {
            color: #343a40;
        }
        .reviews_product .fa-star {
            color: gold;
        }
        .pagination {
            margin-top: 20px;}

    </style>

{% endblock %}

{% block body%}
    <section class="jumbotron text-center mt-1">
        <div class="container">
            {% if app.session.get('panier') is not empty %}
                <h1 class="jumbotron-heading">Verifier votre panier ICI</h1>
            {% else %}
                <h1 class="jumbotron-heading">Votre panier est actuellement vide </h1>
            {% endif %}
        </div>
    </section>
    {% if app.session.get('panier') is not empty %}
        <div class="container mb-4">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Book's Name</th>
                                <th scope="col" class="text-right">Price</th>
                                <th> </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for key , val in app.session.get('panier') %}
                                <tr>
                                    <td><img src="{{ val.path }}" alt="BookImg" width="50px" height="50px"></td>
                                    <td>{{ val.nomLivre }}</td>
                                    <td class="text-right">{{ val.prix }}</td>
                                    <td class="text-right"><a href="{{ path('delete.panier', {'id' : val.id}) }}" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </a> </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td><strong>Total</strong></td>
                                <td class="text-right"><strong>{{ app.session.get('total') }} DT</strong></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col mb-2">
                    <div class="row">
                        <div class="col-sm-12  col-md-6">
                            <a href="{{ path('catalogue') }}" class="btn btn-block btn-light">Continue Shopping</a>
                        </div>
                        <div class="col-sm-12 col-md-6 text-right">
                            <a href="{{ path('payement') }}" class="btn btn-lg btn-block btn-success text-uppercase">Payement</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            <a class="btn btn-block btn-light my-3" href="{{ path('catalogue') }}">Go back to catalogue</a>
        </div>
    {% endif %}
{% endblock %}