{% extends 'baseBack.html.twig' %}

{% block title %}List of Books{% endblock %}

{% block body %}
    <h1>List of Books</h1>

    <div class="container">
        <div class="row">

            <div class="col-6 panel-group ">
                <form class="form">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-6">
                            <label class="float-left small">Book's title:</label>
                            {{ form_row(form) }}
                        </div>
                    </div>
                    <div class="form">
                        <div class="col">
                            <button type="submit" class="btn sc btn-sm">Search</button>
                        </div>
                    </div>
                    {{ form_end(form) }}

                </form>
            </div>
        </div>
    </div>
    <table class="table table-responsive-md ">
        <thead>
        <th>ID</th>
        <th>Language id </th>
        <th>Title</th>
        <th>Price</th>
        <th>Type</th>
        <th>Description</th>
        <th>Author</th>
        <th>Likes</th>
        <th>Path</th>
        </thead>
        <tbody>

        {% for livre in filter %}
            <tr>
                <td>{{ livre.Id }}</td>
                <td>{{ livre.Language }}</td>
                <td>{{ livre.NomLivre }}</td>
                <td>{{ livre.Prix }}</td>
                <td>{{ livre.Type }}</td>
                <td>{{ livre.Description }}</td>
                <td>{{ livre.Auteur }}</td>
                <td>{{ livre.Likes |length }}</td>
                <td><img src="{{ livre.Path }}" style="height: 50px; width: 50px"> </td>
                <td><a href="{{ path('admin_livres_edit', {'id': livre.Id}) }}" class="btn btn-warning">Edit</a></td>
                <td><a href="{{ path('admin_livres_delete', {'id': livre.Id}) }}" class="btn btn-warning">Delete</a></td>
            </tr>

        {% else %}
            <tr>
                <td colspan=5>There is no book left</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="container">
        <div class="row">
            <div class="col-7">
                <nav class="float-right " aria-label=" shadow Page">
                    {{ knp_pagination_render(filter) }}

                </nav>
            </div>

        </div>
    </div>
{% endblock %}
{% block PageTitle %}
    List
{% endblock %}

{% block mainTitle %}
    Books
{% endblock %}