{% extends 'baseBack.html.twig' %}

{% block title %}List of Orders{% endblock %}

{% block body %}
    <h1>List of Orders</h1>
    <table class="table">
        <thead>
        <th>Type</th>
        <th>Date </th>
        <th>Num</th>
        </thead>
        <tbody>

        {% for order in orders %}
            <tr>
                <td>{{ order.typePayement}}</td>
                <td>{{ order.datePayement }}</td>
                <td>{{ order.numPayement }}</td>

                <td><a href="{{ path('admin_orders_delete', {'id': order.Id}) }}" class="btn btn-warning">Delete</a></td>
            </tr>

        {% else %}
            <tr>
                <td colspan=5>There is no order here</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="container">
        <div class="row">
            <div class="col-7">
                <nav class="float-right " aria-label=" shadow Page">
                    {{ knp_pagination_render(orders) }}

                </nav>
            </div>

        </div>
    </div>
{% endblock %}
{% block PageTitle %}
    List
{% endblock %}

{% block mainTitle %}
Bills
{% endblock %}