{% extends 'baseBack.html.twig' %}

{% block title %}List of Users{% endblock %}

{% block body %}
    <h1>List of Users</h1>
<div class="container">
    <div class="row">

        <div class="col-6 panel-group ">
        <form class="form">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-6">
                    <label class="float-left small">Username :</label>
                    {{ form_row(form) }}
                </div>
            </div>
            <div class="form">
                <div class="col">
                    <button type="submit" class="btn sc btn-sm">Search</button>
                </div>
            </div>
            {{ form_end(form) }}

        </form>
        </div>
    </div>
</div>
    <table class="table table-responsive-md">
        <thead>
        <th>ID</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>PhoneNumber</th>
        <th>Username</th>
        <th>Address</th>
        </thead>
        <tbody>

        {% for user in filtre %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.FirstName }}</td>
                <td>{{ user.LastName }}</td>
                <td>{{ user.Email }}</td>
                <td>{{ user.PhoneNumber }}</td>
                <td>{{ user.UserName }}</td>
                <td>{{ user.Address }}</td>
                <td><a href="{{ path('admin_edit_user', {'id': user.id}) }}" class="btn btn-warning">Edit</a></td>
                <td><a href="{{ path('admin_delete_user', {'id': user.id}) }}" class="btn btn-warning">Delete</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan=5>No User</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="container">
        <div class="row">
            <div class="col-7">
                <nav class="float-right " aria-label=" shadow Page">
                    {{ knp_pagination_render(filtre) }}

                </nav>
            </div>

        </div>
    </div>

{% endblock %}
{% block PageTitle %}
    List
{% endblock %}

{% block mainTitle %}
    Users
{% endblock %}