{% extends 'account/BaseAccount.html.twig' %}
{% block link_info %}"active" {% endblock %}
{% block link_address %}"" {% endblock %}
{% block link_purchase %}""{% endblock %}
{% block header %} Personal Information {% endblock %}
{% block form %}

    {{ form_start( form , {'attr': {'novalidate': 'novalidate','autocomplete':'off'}}) }}
    <hr>
    <p class="message"><i class="fad fa-user"></i>General Settings</p>
    <div class="row">
                            <div class="box">
                                {{ form_label(form.First_Name) }}
                                {{ form_widget(form.First_Name)}}
                            </div>
                            <div class="box">
                                {{ form_label(form.Last_Name) }}
                                {{ form_widget(form.Last_Name) }}
                            </div>
                            <div class="box">
                                {{ form_label(form.User_Name) }}
                                {{ form_widget(form.User_Name) }}
                            </div>
                        </div>
    <hr>
    <p class="message"><i class="fad fa-phone"></i>Contacts</p>
    <div class="row">
                            <div class="box">
                                {{ form_label(form.Phone_Number) }}
                                {{ form_errors(form.Phone_Number) }}
                                {{ form_widget(form.Phone_Number) }}
                            </div>
                            <div class="box">
                                {{ form_errors(form.Email) }}
                                {{ form_label(form.Email) }}
                                {{ form_widget(form.Email) }}

                            </div>
                            <hr>
                        </div>
    <div class="row">
                            {{ form_widget(form.Save_Changes) }}
                            {{ form_end(form) }}
                        </div>
{% endblock %}