{% extends 'account/BaseAccount.html.twig' %}
{% block link_info %}"active" {% endblock %}
{% block link_address %}"" {% endblock %}
{% block header %} Personal Information {% endblock %}
{% block form %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            <i class="fa fa-check-circle approve"></i>
            {{ message }}
        </div>
    {% endfor %}
    {{ form_start( form , {'attr': {'autocomplete':'off','action':'editInfo'}}) }}
    <hr>
    <p class="message"><i class="fad fa-user"></i>General Settings</p>
    <div class="row">
        <div class="box">
            <p class="label">First Name :</p>
            {{ form_widget(form.First_Name,{'attr':{'class':'organize-form','oninvalid':"this.setCustomValidity('Please Fill This Field')",
                'oninput':"setCustomValidity('')"}}) }}
            <div class="erreur">  {{ form_errors(form.First_Name) }}</div>
        </div>
        <div class="box">
            <p class="label">Last Name :</p>
            {{ form_widget(form.Last_Name,{'attr':{'class':'organize-form','oninvalid':"this.setCustomValidity('Please Fill This Field')",
                'oninput':"setCustomValidity('')"}}) }}
            <div class="erreur"> {{ form_errors(form.Last_Name) }}</div>
        </div>
        <div class="box">
            <p class="label">User Name :</p>
            {{ form_widget(form.User_Name,{'attr':{'class':'organize-form','oninvalid':"this.setCustomValidity('Please Fill This Field')",
                'oninput':"setCustomValidity('')"}}) }}
            <div class="erreur"> {{ form_errors(form.User_Name) }}</div>
        </div>
    </div>
    <hr>
    <p class="message"><i class="fad fa-phone"></i>Contacts</p>
    <div class="row">
        <div class="box">
            <p class="label">Phone Number :</p>
            {{ form_widget(form.Phone_Number,{'attr':{'class':'organize-form','oninvalid':"this.setCustomValidity('Please Fill This Field')",
                'oninput':"setCustomValidity('')"}}) }}
            <div class="erreur">{{ form_errors(form.Phone_Number) }}</div>

        </div>
        <div class="box">
            <p class="label">Email Address :</p>
            {{ form_widget(form.Email,{'attr':{'class':'organize-form','oninvalid':"this.setCustomValidity('Please Fill This Field')",
                'oninput':"setCustomValidity('')"}}) }}
            <div class="erreur"> {{ form_errors(form.Email) }}</div>

        </div>

    </div>
    <div class="row">
        {{ form_widget(form.Save_Changes) }}
    </div>
    <hr>
    {{ form_end(form) }}
    {% for message in app.flashes('alert') %}
<div class="alert alert-danger">
    <i class="fad fa-engine-warning"></i>
    {{ message }}
</div>
{% endfor %}
    <p class="message"><i class="fad fa-shield"></i>Security :</p>

    {{ form_start( reset , {'attr': {'autocomplete':'off','novalidate':'novalidate','action':'change'}}) }}
    <div class="row">
    <div class="box">
        <p class="label">Current Password:</p>
        {{ form_widget(reset.oldPass) }}
        <div class="erreur"> {{ form_errors(reset.oldPass) }}</div>

    </div>
    <div class="box">
        <p class="label">New Password:</p>
        {{ form_widget(reset.newPassword.new) }}
        <div class="erreur"> {{ form_errors(reset.newPassword.new) }}</div>

    </div>
    <div class="box">
        <p class="label">Confirm Password :</p>
        {{ form_widget(reset.newPassword.confirm) }}
        <div class="erreur"> {{form_errors(reset.newPassword.confirm) }}</div>

    </div>

    </div>
    <div class="row"> {{ form_widget(reset.Save ) }}</div>
    {{ form_end(reset) }}

{% endblock %}

