{% extends 'account/BaseAccount.html.twig' %}
{% block link_info %}"active" {% endblock %}
{% block link_address %}"" {% endblock %}
{% block link_purchase %}""{% endblock %}
{% block header %} Personal Information {% endblock %}
{% block form %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            <i class="fa fa-check-circle approve"></i>
            {{ message }}
        </div>
    {% endfor %}
    {{ form_start( form , {'attr': {'autocomplete':'off','novalidate':'novalidate'}}) }}
    <hr>
    <p class="message"><i class="fad fa-user"></i>General Settings</p>
    <div class="row">
        <div class="box">
            <p class="label">First Name :</p>
            {{ form_widget(form.First_Name,{'attr':{'class':'organize-form'}}) }}
            <div class="erreur">  {{ form_errors(form.First_Name) }}</div>
        </div>
        <div class="box">
            <p class="label">Last Name :</p>
            {{ form_widget(form.Last_Name,{'attr':{'class':'organize-form'}}) }}
            <div class="erreur"> {{ form_errors(form.Last_Name) }}</div>
        </div>
        <div class="box">
            <p class="label">User Name :</p>
            {{ form_widget(form.User_Name,{'attr':{'class':'organize-form'}}) }}
            <div class="erreur"> {{ form_errors(form.User_Name) }}</div>
        </div>
    </div>
    <hr>
    <p class="message"><i class="fad fa-phone"></i>Contacts</p>
    <div class="row">
        <div class="box">
            <p class="label">Phone Number :</p>
            {{ form_widget(form.Phone_Number,{'attr':{'class':'organize-form'}}) }}
            <div class="erreur">{{ form_errors(form.Phone_Number) }}</div>

        </div>
        <div class="box">
            <p class="label">Email Address :</p>
            {{ form_widget(form.Email,{'attr':{'class':'organize-form'}}) }}
            <div class="erreur"> {{ form_errors(form.Email) }}</div>

        </div>

    </div>
    <div class="row">
        {{ form_widget(form.Save_Changes) }}
    </div>

    <hr>
    <p class="message"><i class="fad fa-shield"></i>Security :</p>


    {{ form_end(form) }}

    <form action="{{ path('change') }}"  autocomplete="off" method="post">
    <div class="row">
        <div class="box">
            <div class="in">
                <p class="label">Current Password :</p>
                <input type="password" class="organize-form form-control" name="old">
                <div class="erreur"> </div>
            </div>
        </div>
        <div class="box">
            <div class="in">
                <p class="label">New Password :</p>
                <input type="password" class="organize-form form-control" name="new">
                <div class="erreur">  </div>
            </div>
        </div>
        <div class="box">
            <div class="in">
                <p class="label">Confirm Password :</p>
               <input type="password" class="organize-form form-control" name="confirm">
                <div class="erreur" >  </div>
            </div>
        </div>
    </div>
    <div class="row" >
        <button type="submit" class=" save btn " >Save Changes </button>
    </div>
    </form>
{% endblock %}
