{% extends 'account/BaseAccount.html.twig' %}
{% block link_info %}{% endblock %}
{% block link_address %}"active" {% endblock %}
{% block link_purchase %}""{% endblock %}
{% block header %} Address Update {% endblock %}
{% block form %}
    <hr>
    {{ form_start(form, {'attr': {'autocomplete':'off'}})}}
    {{ form_row(form.House_address_number)}} <p class="optional" > *optional</p>
    {{ form_row(form.Street)}} <p class="optional" > *optional</p>
    {{ form_row(form.City) }}
    {{ form_row(form.Code)}}
    {{ form_end(form) }}
{% endblock %}