{% extends 'account/BaseAccount.html.twig' %}
{% block link_info %}{% endblock %}
{% block link_address %}"active" {% endblock %}
{% block header %} Address Update {% endblock %}
{% block form %}

    <hr>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            <i class="fa fa-check-circle approve"></i>
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('alert') %}
        <div class="alert alert-danger">
            <i class="fad fa-engine-warning"></i>
            {{ message }}
        </div>
    {% endfor %}
    {% if address is not empty %}
        <div><p> Your current address is "<strong> {{ address }}</strong>" .Would You Like T o Change It ? </p></div>
    {% else %}
        <div><p> You Haven't Entered An Address Yet. </p></div>
    {% endif %}
    <div class="address">
        {{ form_start(form, {'attr': {'autocomplete':'off','novalidate':'novalidate'}}) }}
    <div class="box2 row">
        <p class="ad">House Address :<small class="optional"> (optional)</small></p>
        {{ form_widget(form.House_address_number) }}
        <div class="erreur1">  {{ form_errors(form.House_address_number) }}</div>
    </div>
        <div class="box2 row">
            <p class="ad">Street : <small class="optional"> (optional)</small> </p>
            {{ form_widget(form.Street) }}
        </div>
        <div class="box2 row"><p class="ad">City :<small class="optional" style="color: darkred">* required </small></p>
            {{ form_widget(form.City) }}
        </div>
        <div class="box2 row">
          <p class="ad">Code :  <small class="optional" style="color: darkred">* required </small></p>
               {{ form_widget(form.Code) }}
        </div>
        {{ form_row(form.Save) }}
    </div>
    <hr>
    <p></p>

    {% if address is not empty %}
        <p>You Can Delete Your Address Here <a class="trash" href="{{ path('deleteAddress') }}"><i class="fad fa-trash-alt"></i> </a> </p>
    {% endif %}
    {{ form_end(form) }}
{% endblock %}