{% extends 'baseFront.html.twig' %}
{% block link %}<link rel="stylesheet" href={{ asset('Account/AccountStyle.css') }}>{% endblock %}
{% block Title %}My Account{% endblock %}
{% block navitem2 %}{% endblock %}
{% block navitem3 %}{% endblock %}
{% block body %}
    <div class="wrapper">
        <!-- Sidebar  -->
        <div class="wrapper">
            <!-- Sidebar  -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3 style="margin-left: 20px;">My Account</h3>
                    <img style="width: 120px;" class="img-thumbnail rounded-circle" src={{asset('Account/avatar.png') }} alt="profile_picture">
                </div>

                <ul class="list-unstyled components" >
                    <li class={% block link_info %}{% endblock %}>
                        <a href={{ path('account') }}>
                            <i class="fad fa-cog"></i>Account
                        </a>
                    </li>
                    <li class={% block link_address %}"" {% endblock %} >
                        <a href={{ path('address') }}>
                            <i class="fad fa-street-view"></i> My Address
                        </a>
                    </li>
                    <li >
                        <a href="{{path('panier')}}">
                            <i class="fad fa-shopping-cart"></i>My Cart
                        </a>
                    </li>
                </ul>
                <div id="signout">
                    <a href="{{ path('app_logout') }}">
                        <i class="fad fa-sign-out-alt"></i> <strong style="margin-left: 5px;"> Sign Out</strong>
                    </a>
                </div>
            </nav>
        </div>

        <!-- Page Content  -->
        <div id="content">

            <div class="content" style="margin-top: 20px">
                <div class="container-fluid">
                    <div style="display: flex;">
                        <button type="button" id="sidebarCollapse" class="btn btn-info" style="background-color: #577C85;">
                            <i class="fas fa-align-left"></i>
                        </button>
                        <h3 style="padding-left: 20px;">{% block header %}{% endblock %}</h3>
                    </div>
                    {% block form %} {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
    <script>

    </script>
{% endblock %}
{% block signupbutton%}{% endblock %}
