{% extends 'account/BaseAccount.html.twig' %}
{% block link_info %}{% endblock %}
{% block link_address %} {% endblock %}
{% block link_pursh %}"active" {% endblock %}
{% block header %} My purchases {% endblock %}
{% block form %}

    <div class="container">
        <div class="row">
{% for commande in commandes %}
    <table class="table-responsive-md">
        <tr>
    <td><h4>Command {{  loop.index }}  :</h4></td>
        </tr>
        <tr>
   <td> <h5> command Id {{ commande.NumPayement }}</h5></td>
        </tr>
        <tr>
   <td>
    <h5>Date:{{ commande.datePayement }}</h5>
    </td>
        </tr>
        <tr>
            <td>
                <h5>Type :{{ commande.typePayement }}</h5>
            </td>
        </tr>
    </table>
    <br>
    <div class="table-responsive-md">
        <table class="table">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Author</th>
                <th scope="col">Price</th>
            </tr>
            </thead>
            <tbody>
            {% for book in commande.books %}
            <tr>
                <td><img src="{{ book.path }}"> </td>
                <td>{{ book.nomLivre }}</td>
                <td>{{ book.auteur }}</td>
                <td>{{ book.prix }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

            {% endfor %}




        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{#    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>#}
{#    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>#}
{#    <script>#}
{#        function onClickBtnDelete(event) {#}
{#            event.preventDefault();#}
{#            const url = this.href;#}
{#            const card = this.parentElement.parentElement;#}

{#            const row = this.parentElement.parentElement.parentElement;#}
{#            axios.get(url).then(function (response) {#}
{#                console.log(response.data.message);#}
{#                row.removeChild(card);#}
{#            });#}
{#        }#}
{#        document.querySelectorAll('.delete').forEach(function (link) {#}
{#            link.addEventListener('click', onClickBtnDelete);#}
{#        })#}
{#    </script>#}

{% endblock %}