{% extends 'account/BaseAccount.html.twig' %}
{% block link_info %}{% endblock %}
{% block link_address %}{% endblock %}
{% block link_purch %}"active"{% endblock %}
{% block header %} My purchases {% endblock %}
{% block form %}

    {% for commande in commandes %}
        <hr>
        <div class="container">
            <div class="row"><p> Command Id : {{ commande.NumPayement }}</p></div>
            {#        <tr>#}
            {#   <td> <h5> command Id {{ commande.NumPayement }}</h5></td>#}
            {#        </tr>#}
        </div>
    <div class="container">
        <div class="row">

    <div class="col-3" >
    <table class=" table-borderless table-responsive-md" style="margin-top: 30px">
        <tr>
    <td></td>
        </tr>
        <tr>
            <td>
                <h6 style="display: flex; flex-direction: row; align-items: center;"><p style="margin-right:10px;margin-top :15px ">Type</p >  :  {{ commande.typePayement }}</h6>
            </td>
        </tr>

        <tr>
   <td>
       <h6  style="display: flex; flex-direction: row; align-items: center;" ><p style="margin-right:10px;margin-top :15px ">Date</p> : {{ commande.datePayement }}</h6>
    </td>
        </tr>
        <tr>
            <td>
                <h6 style="display: flex; flex-direction: row; align-items: center;"><p style="margin-right:10px;margin-top :15px ">Time</p> :  {{ commande.timePayement }}</h6>
            </td>
        </tr>

    </table>
    </div>

    <div class="table-responsive-md col-8 float-left">
        <table class="table">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col" style="color: #0f6674">Name</th>
                <th scope="col" style="color: #0f6674">Author</th>
                <th scope="col" style="color: #0f6674">Price</th>
            </tr>
            </thead>
            <tbody>
            {% for book in commande.books %}
            <tr>
                <td><img src="{{ book.path }}" style="height: 50px; width: 50px"> </td>
                <td>{{ book.nom }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.prix }} Dt</td>
            </tr>
            {% endfor %}
            <tr>
                <td class="text-right" colspan="4" style="color:red"> <i class="fad fa-money-check-edit-alt" style="margin-right: 5px"></i> Total : {{ totale[loop.index-1] }} DT</td>
            </tr>
            </tbody>
        </table>
    </div>

    {% else %}

            {% endfor %}

        </div>
    </div>
{% endblock %}
