{% extends 'account/BaseAccount.html.twig' %}
{% block link_info %}{% endblock %}
{% block link_address %} {% endblock %}
{% block link_wish %}"active" {% endblock %}
{% block header %} My WishList {% endblock %}
{% block form %}

<div class="container">
        <div class="row">

                   {% for book in books %}
                    {% if book.isLiked(app.user) %}

                    <div class="col card-col">
                        <div class="card " id="{{ book.id }}" style="width: 11.5rem;  margin-bottom: 18px;">
                            <a href="/book/{{ book.id }}"> <img src="{{ book.path }}" class="book-img  card-img-top"
                                                                  alt="..."></a>
                            <p class="card-title text-center " style="font-size:80%; color:black">{{ book.nomLivre }}

                            </p>
                                <a href="/wishlist/remove/{{ book.id }}" class="btn shadow-sm bg-light delete" >
                                    <small class="text-black-50">Delete from wishlist <i class="fas fa-heart-broken "  style="font-size:11px;"></i></small>
                                    </a>

                        </div>

                    </div>



{% endif %}

    {% endfor %}
        {% if user.booksLiked | length ==0 %}
            <div class="container">
                <div class="row">
                    <div class="col" style="display: flex;flex-direction: column;justify-content: center;align-items: center; margin-top: 10%">
                    <p class="text-center"> We're sorry, Your Wishlist is empty <i class="far fa-frown-open"></i></p>
                        <p> You can start shopping <a href="{{ path('catalogue') }}" style="color:#0f6674"> Here</a> </p>
                    </div>
                </div>
            </div>

            {% endif %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        function onClickBtnDelete(event) {
            event.preventDefault();
            const url = this.href;
            const card = this.parentElement.parentElement;

            const row = this.parentElement.parentElement.parentElement;
            axios.get(url).then(function (response) {
                console.log(response.data.message);
                row.removeChild(card);
            });
        }
        document.querySelectorAll('.delete').forEach(function (link) {
            link.addEventListener('click', onClickBtnDelete);
        })
    </script>

{% endblock %}