{% extends "baseFront.html.twig" %}
{% block link %}<link rel="stylesheet" href={{ asset('form.css') }}>{% endblock %}
{% block Title %}Password Forgotten{% endblock %}
{% block body %}
    <div class="signup">
        <div class="register" style=" background-color: white; margin-bottom:10%;margin-top: 10%; padding: 20px" >
            <div class="modal-header">
                <div class="modal-title" id="Title"  >
                    <h5 >   Reset Your Password</h5> </div>
            </div>
            <div class="modal-body">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {{ form_start(reset, {'attr': {'novalidate': 'novalidate','autocomplete':'off'}})  }}
                <div>  {{ form_errors(reset.newPassword.new) }}</div>
                <div class="input-icons">
                    <i class="fa fa-key icon" style="color:#52ACB4;">
                    </i>
                    {{ form_widget(reset.newPassword.new) }}
                </div>
                <div>{{ form_errors(reset.newPassword.confirm) }}</div>
                <div class="input-icons">
                    <i class="fa fa-check icon" style="color:#52ACB4;"></i>
                    {{ form_widget(reset.newPassword.confirm) }}
                </div>

                {{form_widget(reset.Save) }}
                {{ form_end(reset) }}
            </div>
            <div class="modal-footer">
                <p style=" color: black">   <a href="{{ path('register') }}" >Register</a> or <a href ={{ path('app_login')}}  >Log In</a> </p>
            </div>
        </div>
    </div>
{% endblock %}
